cycler==0.10.0
h5py==2.7.1
matplotlib==2.1.1
numpy==1.19.5
Pillow==5.0.0
setuptools<=59.6.0
pygame==1.9.3
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
six==1.11.0
wget==3.2
opencv-python==4.5.4.60
scipy==1.5.4
